version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: identity_postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: identity
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d identity"]
      interval: 5s
      timeout: 5s
      retries: 5

  pgadmin:
    image: dpage/pgadmin4
    container_name: identity_pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@example.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - postgres

  # identity-service:
  #   build:
  #     context: .
  #     dockerfile: Dockerfile
  #   container_name: identity_service
  #   environment:
  #     HTTP_PORT: 8081
  #     JWT_SECRET: "local-secret-123"
  #     JWT_ISSUER: "identity-service"
  #     JWT_EXPIRES_IN: "15m"
  #     DB_DSN: "postgres://postgres:postgres@postgres:5432/identity?sslmode=disable"
  #   ports:
  #     - "8081:8081"
  #   depends_on:
  #     postgres:
  #       condition: service_healthy

volumes:
  postgres_data:
