services:
  postgres:
    image: postgres:16
    container_name: identity_postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: identity
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d identity"]
      interval: 5s
      timeout: 5s
      retries: 5

  identity-service:
    build:
      context: ..
      dockerfile: infrastructure/Dockerfile
    container_name: identity_service
    env_file:
      - ../.env
    ports:
      - "8081:8081"
      - "9091:9091"
    networks:
      - default
      - shop-platform-net
    depends_on:
      postgres:
        condition: service_healthy

volumes:
  postgres_data:

networks:
  shop-platform-net:
    external: true
